* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.game-board {
    width: 80%;
    height: 500px;
    border: 3px solid #a01323;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}
.fire{
    animation: infinite fire-animation 3s;
    bottom: -05px;
    width: 100px ;
    position: absolute;
    /* right: 100%; */
}
@keyframes fire-animation {
    from {
        right: 100%;
    }
    
    to {
        right: -8%;
    }
}
.athena-run {
    bottom: 0rem;
    position: absolute;
    right: 0px;
}
.jump {
    animation: jump 600ms   ease-out;

}

@keyframes jump {
    0% {
        bottom: 0rem
    }
    50%{
        bottom: 07rem
    }
    0% {
        bottom: 0rem
    }
}